* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boxes {
     width: 1000px; 
    background-color: gray;
    padding: px; 
    transform: rotate(90deg);
    
}
.box {
    width: 60%;
    height: 40px;
    margin: 0px; 
    padding: 0px;
    
}
.box1 {
    background-color: purple;
}
.box2 {
    background-color: blue;
  
}
.box3 {
    background-color: indigo;
}
.box4 {
    background-color: green;
}
.box5 {
    background-color: yellow;
}
.box6 {
    background-color: orange;
}
.box7 {
    background-color: red;
}
.box8 {
    background-color: gold;
    transform: rotate(90deg);
    position: absolute;
    top: 170px;
    left: 480px;
    width: 410px;
 }

#cloud {
    transform: rotate(270deg);
	width: 350px; height: 120px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%); 
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;	
    position: relative; 
    bottom: 200px;
    left: 100px;
	margin: 0px auto 20px; 
}

#cloud:after, #cloud:before {
	content: '';
    position: absolute;  
	background: #f2f9fe;
}

#cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	border-radius: 100px;

}

#cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
    border-radius: 200px;
}